#container
{
width:600px;
height:100px;
}
#leftdropdown
{
float:left;
}
#addbutton
{
float:left;
position:absolute;
left:180px;
top:25px;
}
.addbutton
{
background-color:red;
color:white;
width:100px;
}
#removebutton
{
float:left;
position:absolute;
left:180px;
top:60px;
}
.removebutton
{
background-color:red;
color:white;
width:100px;
}
#rightdropdown
{
position:absolute;
left:300px;

}
#remove
{
width:150px;
}
#add
{
width:150px;
}
